<component name="libraryTable">
  <library name="spring-cloud-starter-netflix-zuul-2.0.1.RELEASE">
    <CLASSES>
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/cloud/spring-cloud-starter-netflix-zuul/2.0.1.RELEASE/spring-cloud-starter-netflix-zuul-2.0.1.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="jar://$MAVEN_REPOSITORY$/org/springframework/cloud/spring-cloud-starter-netflix-zuul/2.0.1.RELEASE/spring-cloud-starter-netflix-zuul-2.0.1.RELEASE.jar!/" recursive="false" />
  </library>
</component>